$webResourceManager.requireResourcesForContext("com.atlassian.auiplugin:aui-sidebar")
$webResourceManager.requireResourcesForContext("com.atlassian.auiplugin:aui-select2")
$webResourceManager.requireResourcesForContext("com.atlassian.auiplugin:aui-select")
$webResourceManager.requireResourcesForContext("com.atlassian.auiplugin:aui-toggle")
$webResourceManager.requireResourcesForContext("com.atlassian.auiplugin:dialog2")
$webResourceManager.requireResourcesForContext("com.atlassian.auiplugin:aui-spinner")
$webResourceManager.requireResourcesForContext("com.atlassian.auiplugin:aui-progress-tracker")
$webResourceManager.requireResourcesForContext("com.atlassian.auiplugin:aui-page-header")
$webResourceManager.requireResourcesForContext("com.atlassian.auiplugin:aui-tabs")
$webResourceManager.requireResourcesForContext("com.atlassian.auiplugin:table")
$webResourceManager.requireResourcesForContext("com.atlassian.auiplugin:aui-forms")
$webResourceManager.requireResourcesForContext("com.atlassian.auiplugin:aui-flag")
$webResourceManager.requireResource("com.virtusa.gto.plugins.aitest:switch-resource")
$webResourceManager.requireResource("com.virtusa.gto.plugins.aitest:cron-resource")

<div class="aui-sidebar" id="test-schedule-side-nav">
    <div class="aui-sidebar-wrapper">
        <div class="aui-sidebar-body">
            <div class="aui-nav-heading" title="Stuff" style="margin: 10px;">
                <strong id="schedule-view-header"></strong>
            </div>
            <div class="test-schedule-test-plans-grouping" id="test-schedule-div">
                <nav class="aui-navgroup aui-navgroup-vertical">
                    <div class="aui-navgroup-inner">
                        <div class="aui-sidebar-group aui-sidebar-group-tier-one">
                            <ul class="aui-nav" id="test-schedule-ul" type="schedule">
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
            <div class="test-schedule-test-plans-grouping" id="test-schedule-test-plans-div"style="display:none;">
                <nav class="aui-navgroup aui-navgroup-vertical">
                    <div class="aui-navgroup-inner">
                        <div class="aui-sidebar-group aui-sidebar-group-tier-one">
                            <ul class="aui-nav" id="test-schedule-test-plan-ul">
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
            <div id="schedule-hr" class="hr" style="display:none;"></div>
            <div id="schedule-test-case-header" class="aui-nav-heading" title="Stuff" style="margin: 10px; display:none;">
                <strong>$i18n.getText("all.label.test-cases")</strong>
            </div>
            <div id="scheduler-test-case-div" class="test-schedule-test-cases-grouping" style="display:none;">
                <nav class="aui-navgroup aui-navgroup-vertical">
                    <div class="aui-navgroup-inner">
                        <div class="aui-sidebar-group aui-sidebar-group-tier-one">
                            <ul class="aui-nav">
                                <li id="test-exec-tc-root-node" type="test-exec-tc-folder">
                                    <a class="aui-nav-item">
                                        <span class="aui-icon aui-icon-small aui-iconfont-share"></span>
                                        <span class="aui-nav-item-label">$i18n.getText("all.label.root")</span>
                                    </a>
                                </li>
                                <ul class="aui-nav" parent="test-exec-tc-root-node"></ul>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</div>
<div id="test-schedule-selected-items-panel" class="aui-page-panel">
    <div class="selected-schedule-table-container">
        <div class="selected-schedule-table-header">
            <table class="aui">
                <thead style="border-bottom: 2px solid #b3d4ff;">
                <tr>
                    <th width="15%">
                        <div style="float:left; margin-top:3px;">$i18n.getText("all.label.name")</div>
                    </th>
                    <th width="80%">
                        <div style="float:left; margin-top:3px;">$i18n.getText("all.label.configuration")</div>
                        <div style="margin-top: 3px;float:right;" >$i18n.getText("executionview.label.parallel-execution")</div>
                    </th>
                    <th width="5%">
                        <div style="float:left;">
                            <aui-toggle id="schedule-parallel-execution" tooltip-on="Enabled" tooltip-off="Disabled"></aui-toggle>
                        </div>
                    </th>
                </tr>
                </thead>
            </table>
        </div>
        <div class="selected-schedule-table-content" style="overflow: auto;">
            <table class="aui">
                <tbody id="selected-schedule-table-tbody">
                </tbody>
            </table>
        </div>
    </div>
    <div id="test-exec-actions-div" class="test-exec-actions" style="border-top: 1px solid #dfe1e6; display:none;">
        <button class="aui-button" style="margin: 10px; margin-right: 5px;" id="edit-execute-test-plan-btn">
            <span class="aui-icon aui-icon-small aui-iconfont-addon" style="margin-right: 5px;"></span>$i18n.getText("scheduleview.label.edit-execution")
        </button>
    </div>
</div>

<section id="edit-schedule-dialog" class="aui-dialog2 aui-dialog2-medium aui-layer" role="dialog" aria-hidden="true">
    <header class="aui-dialog2-header">
        <span class="aui-icon aui-icon-large aui-iconfont-recent" style="margin-right: 10px;"></span>
        <span class="aui-dialog2-header-main" style="font-size: 18px;">Edit Schedule</span>
        <span style="flex: 1"></span>
        <a class="aui-dialog2-header-close">
            <span class="aui-icon aui-icon-small aui-iconfont-close-dialog">Close</span>
        </a>
    </header>
    <div class="aui-dialog2-content">
        <form class="aui">
            <div class="field-group">
                <label for="edit-schedule-entity-release">
                        Release
                </label>
                <select id="edit-schedule-entity-release" style="max-width: 300px;">
                </select>
                </div>
                <div class="field-group">
                <label for="edit-schedule-entity-release-description">
                        Description
                </label>
                <textarea class="textarea" name="schedule-entity-release-description" id="edit-schedule-entity-release-description" rows="3"
                    placeholder="Your description here..." style="max-width: 300px !important;"></textarea>
                </div>
            <div class="field-group">
                <label for="schedule-name">Schedule Name
                    <span class="aui-icon icon-required">(required)</span></label>
                <input class="text long-field" type="text"
                       id="edit-schedule-name" name="schedule-name" placeholder="Schedule Name" style="max-width: 300px;">
            </div>
            <div class="field-group">
                <label for="cron-value">Cron Value
                    <span class="aui-icon icon-required">(required)</span></label>
                    <input class="text long-field" type="text"
                       id="edit-cron-value" name="cron-value" placeholder="Cron Value" style="max-width: 300px;">
                </label>
                <!--<div id="cron-view-wrapper">
                    <div id="corn-view" class="cron-builder">
                    </div>
                </div>
                <button id="example2-btn" type="button" class="aui-button aui-button-primary">Generate Cron Expression</button>
                <div>
                    <p><strong>Cron Expression:</strong> <span id="example2-result"></span></p>
                </div>-->
            </div>
        </form>
    </div>
    <footer class="aui-dialog2-footer">
        <div class="aui-dialog2-footer-actions">
            <button id="edit-save-schedule-button" class="aui-button aui-button-primary">Save</button>
            <button id="edit-schedule-cancel-button" class="aui-button aui-button-default">Cancel</button>
        </div>
    </footer>
</section>

<section id="edit-schedule-browser-selector-dialog" class="aui-dialog2 aui-dialog2-small aui-layer" data-aui-modal="true" role="dialog"
             aria-hidden="true">
        <header class="aui-dialog2-header">
            <h3 class="aui-dialog2-header-main">$i18n.getText("executionview.label.browser-selector")</h3>
        </header>
        <div class="aui-dialog2-content">
            <form class="aui">
                <aui-select placeholder="Select a Browser" id = "edit-schedule-browser-select-test-plan">
                    <aui-option>Select</aui-option>
                    <aui-option>IE</aui-option>
                    <aui-option>Firefox</aui-option>
                    <aui-option>Chrome</aui-option>
                </aui-select>
            </form>
        </div>
        <footer class="aui-dialog2-footer">
            <div class="aui-dialog2-footer-actions">
                <button id="edit-schedule-apply-browser-btn" class="aui-button aui-button-primary">$i18n.getText("all.label.apply")</button>
                <button id="edit-schedule-cancel-browser-btn" class="aui-button aui-button-default">$i18n.getText("all.label.cancel")</button>
            </div>
        </footer>
    </section>

<div id="scheduleContext" class="context-menu">
    <ul class="context-menu-options" role="menu" aria-labelledby="dropdownMenu">
        <li id="deleteScheduleLI" class="context-menu-option">
            <a tabindex="-1" href="#">
                <span class="aui-icon aui-icon-small aui-iconfont-trash"></span>
                <span>$i18n.getText("all.label.delete")</span>
            </a>
        </li>
    </ul>
</div>

<section id="warning-dialog-folder" class="aui-dialog2 aui-dialog2-small aui-layer" role="dialog" aria-hidden="true">
    <header class="aui-dialog2-header">
        <h2 class="aui-dialog2-header-main"><b>$i18n.getText("designing-view.label.confirm-you-want-to-delete-this")</b></h2>
    </header>
    <div class="aui-dialog2-content">
        <p>$i18n.getText("designing-view.label.are-you-certain-that-you-want-this-thing-to-be-gone-forever")</p>
    </div>
    <footer class="aui-dialog2-footer">
        <div class="aui-dialog2-footer-actions">
            <button id="schedule-delete-confirm" class="aui-button aui-button-primary" style="margin-right: 10px;">
                $i18n.getText("all.label.delete")
            </button>
            <button id="schedule-delete-cancel" class="aui-button aui-button-link">$i18n.getText("all.label.cancel")</button>
        </div>
    </footer>
</section>