div.test-planning-page-panel {
    height: 615px;
    margin-top: 0;
}

div.test-planning-page-panel div.aui-page-panel-inner {
    height: 100%;
    display: flex;
    flex-direction: column;
}

div.test-planning-page-panel div.aui-page-panel-inner div.test-plan-actions-section {
    flex: 0 0 50px;
    display: flex;
}

div.test-planning-page-panel div.aui-page-panel-inner div.test-plan-actions-section button {
    margin: auto 10px;
}

div.test-planning-page-panel div.aui-page-panel-inner div.test-plan-table-container {
    flex: 0 0 400px;
}

div.test-plan-table-container table.aui {
    width:100%;
    table-layout: fixed;
}

div.test-plan-table-container div.table-header table thead {
    border: none;
    box-shadow: 0px 2px 5px 0px rgba(223,225,230,1);
}

div.test-plan-table-container div.table-content {
    height: 350px;
    overflow-x: auto;
    margin-top: 2px;
}

/* div.test-plan-table-container div.table-content table tr td:nth-child(1) {
    width: 5%;
}

div.test-plan-table-container div.table-content table tr td:nth-child(2) {
    width: 30%;
}

div.test-plan-table-container div.table-content table tr td:nth-child(3) {
    width: 35%;
}

div.test-plan-table-container div.table-content table tr td:nth-child(4) {
    width: 30%;
} */

div.test-plan-table-container div.table-content table tr td:nth-child(3) span.aui-lozenge {
    font-size: 15px;
    font-weight: 400;
    margin: 2px 1px;
    padding: 5px 10px;
    text-transform: none;
}

section#add-test-plan-dialog {
    min-height: 500px !important;
    top: 40px;
    width: 100%;
    height: 100%;
}

section#add-test-plan-dialog div.aui-dialog2-content {
    padding: 0;
    display: flex;
    flex-direction: column;
    /* height: 100%; */
    max-height: calc(100% - 160px);
}

section#add-test-plan-dialog div.aui-dialog2-content div.aui-sidebar {
    flex: 0 0 280px;
    position: unset;
}

section#add-test-plan-dialog div.aui-dialog2-content div.aui-sidebar div.aui-sidebar-wrapper {
    height: 100% !important;
    position: unset;
}


section#add-test-plan-dialog div.aui-dialog2-content div.aui-page-panel {
    display: flex;
    padding-left: 0;
}

section#add-test-plan-dialog div.aui-dialog2-content div.aui-page-panel div.selected-folder-test-cases {
    flex: 0 0 280px;
    height: 100%;
}

section#add-test-plan-dialog div.aui-dialog2-content div.aui-page-panel div.selected-test-cases {
    flex: 1 1 auto;
}

ul.selected-folder-ul li a {
    display: flex !important;
}

ul.selected-folder-ul li a input.checkbox {
    margin: auto 10px auto 5px;
}

ul.selected-folder-ul li a span.aui-icon {
    margin-right: 5px;
}

div.test-plan-content-details {
    display: flex;
    flex: 1 1 auto;
}

.aui-progress-tracker-step>span:before, .aui-progress-tracker-step>a:before{
    height: 15px;
    width: 15px;
    top: 1px;
    z-index: 10;
}
